In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('cars_by_popular_city.csv')

In [3]:
df.shape

(2558, 14)

In [4]:
df.columns

Index(['Location', 'Zip_Code', 'Status', 'Year', 'Brand', 'Model', 'Mileage',
       'Exterior_Color', 'Interior_Color', 'Drive_Train', 'MPG', 'Fuel_Type',
       'Transmission', 'Engine'],
      dtype='object')

In [5]:
df['Location'].value_counts()

Location
atlanta-ga         219
dallas-tx          219
houston-tx         219
seattle-wa         218
san_diego-ca       217
columbus-oh        216
los_angeles-ca     215
chicago-il         209
phoenix-az         209
denver-co          206
philadelphia-pa    206
new_york-ny        205
Name: count, dtype: int64

In [6]:
df['Brand'].value_counts()

Brand
Mercedes-Benz    229
BMW              223
Hyundai          145
Ford             139
Chevrolet        129
                ...
INEOS              1
Maybach            1
Panoz              1
Karma              1
Plymouth           1
Name: count, Length: 62, dtype: int64

In [7]:
df['Status'].value_counts()

Status
Used                       1650
New                         861
Ferrari Certified            10
Mercedes-Benz Certified       6
McLaren Certified             5
BMW Certified                 4
Audi Certified                4
Porsche Certified             3
Chevrolet Certified           3
Rolls-Royce Certified         2
Subaru Certified              2
Jeep Certified                1
Ford Certified                1
Volvo Certified               1
Lincoln Certified             1
Cadillac Certified            1
Hyundai Certified             1
Genesis Certified             1
Aston Martin Certified        1
Name: count, dtype: int64